name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        source-url: https://nuget.pkg.github.com/upgamingdev/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.NUGET_API_TOKEN}}
    - name: Restore dependencies
      run: dotnet restore DevExtreme.Dapper.Data/DevExtreme.Dapper.Data.csproj
    - name: Build
      run: dotnet build DevExtreme.Dapper.Data/DevExtreme.Dapper.Data.csproj --no-restore --configuration Release
    - name: Pack
      run: dotnet pack DevExtreme.Dapper.Data/DevExtreme.Dapper.Data.csproj --no-build --configuration Release
    - name: Push Nuget Pack
      run: dotnet nuget push **/*.nupkg -k "$NUGET_AUTH_TOKEN"
