name: .NET - DEV

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        source-url: https://nuget.pkg.github.com/upgamingdev/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Debug
      run: |
        $version = "1.0."+(4000+$($Env:GITHUB_RUN_NUMBER))+".0"
        echo $version

    - name: Print all environment variables
      run: env

    - name: Restore dependencies
      run: dotnet restore DevExtreme.Dapper.Data

    - name: Build
      run: dotnet build --configuration Debug DevExtreme.Dapper.Data --no-restore --version-suffix rc-${{ github.run_number }}

    - name: Create the Debug package
      run: dotnet pack --configuration Debug DevExtreme.Dapper.Data --no-build --version-suffix rc-${{ github.run_number }}

    - name: Publish the package to GPR
      run: dotnet nuget push DevExtreme.Dapper.Data/bin/Debug/*.nupkg --skip-duplicate
